In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("spam.csv",encoding='ISO-8859-1',engine='python')

In [3]:
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [4]:
data.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"],axis = 1,inplace = True)

In [5]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [7]:
from sklearn.preprocessing import OneHotEncoder
OHE = OneHotEncoder(handle_unknown='ignore',sparse=False)
isSpam = pd.DataFrame(OHE.fit_transform(data[['v1']]))

c:\Users\AKSHAY\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [8]:
isSpam

        0    1
0     1.0  0.0
1     1.0  0.0
2     0.0  1.0
3     1.0  0.0
4     1.0  0.0
...   ...  ...
5567  0.0  1.0
5568  1.0  0.0
5569  1.0  0.0
5570  1.0  0.0
5571  1.0  0.0

[5572 rows x 2 columns]

In [9]:
data = pd.concat([data,isSpam],axis = 1)
# Encoded data based on Ham / Spam
data

        v1                                                 v2    0    1
0      ham  Go until jurong point, crazy.. Available only ...  1.0  0.0
1      ham                      Ok lar... Joking wif u oni...  1.0  0.0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...  0.0  1.0
3      ham  U dun say so early hor... U c already then say...  1.0  0.0
4      ham  Nah I don't think he goes to usf, he lives aro...  1.0  0.0
...    ...                                                ...  ...  ...
5567  spam  This is the 2nd time we have tried 2 contact u...  0.0  1.0
5568   ham              Will Ì_ b going to esplanade fr home?  1.0  0.0
5569   ham  Pity, * was in mood for that. So...any other s...  1.0  0.0
5570   ham  The guy did some bitching but I acted like i'd...  1.0  0.0
5571   ham                         Rofl. Its true to its name  1.0  0.0

[5572 rows x 4 columns]

In [10]:
data.drop(["v1",0],axis=1,inplace=True)

In [11]:
data.head()

                                                  v2    1
0  Go until jurong point, crazy.. Available only ...  0.0
1                      Ok lar... Joking wif u oni...  0.0
2  Free entry in 2 a wkly comp to win FA Cup fina...  1.0
3  U dun say so early hor... U c already then say...  0.0
4  Nah I don't think he goes to usf, he lives aro...  0.0

In [13]:
from sklearn.model_selection import train_test_split
x = data.v2
y = data[1]
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=0)
y_test

4456    0.0
690     0.0
944     0.0
3768    0.0
1189    0.0
       ...
4833    0.0
3006    0.0
509     0.0
1761    0.0
1525    0.0
Name: 1, Length: 1672, dtype: float64

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
x_final_train = cv.fit_transform(x_train.values)

In [15]:
from sklearn.naive_bayes import MultinomialNB
nb_model = MultinomialNB()
nb_model.fit(x_final_train,y_train)

MultinomialNB()

In [16]:
x_final_test = cv.transform(x_test.values)
print("Accuracy is : ",nb_model.score(x_final_test,y_test)*100,"%")

Accuracy is :  98.38516746411483 %